CLUEServer/CLUEServer/TestsServer/Connected Services/SpiderClueService/item42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Gamer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccessAccount">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GamesWon" type="xs:int" />
          <xs:element minOccurs="0" name="ImageCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gamer" nillable="true" type="tns:Gamer" />
  <xs:complexType name="AccessAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gamertag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessAccount" nillable="true" type="tns:AccessAccount" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="Pawn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XPosition" type="xs:int" />
      <xs:element minOccurs="0" name="YPosition" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pawn" nillable="true" type="tns:Pawn" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
  <xs:complexType name="Door">
    <xs:sequence>
      <xs:element minOccurs="0" name="Xposition" type="xs:int" />
      <xs:element minOccurs="0" name="Yposition" type="xs:int" />
      <xs:element minOccurs="0" name="ZoneName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Door" nillable="true" type="tns:Door" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="GamerTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="ArrayOfWinner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Winner" nillable="true" type="tns:Winner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWinner" nillable="true" type="tns:ArrayOfWinner" />
  <xs:complexType name="Winner">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gamertag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GamesWon" type="xs:int" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Winner" nillable="true" type="tns:Winner" />
</xs:schema>